<div class="row funding-management">
  <div class="col-md-12">
    <div class="card report-table-card">
      <div class="card-header d-flex justify-content-between">
        <span>
          <h4>Participation Funding Funds Management</h4>
        </span>
        <span class="img-event">
          <button (click)="downloadExcel('Copy the link')">
            <img
              src="./../../../../../assets/svg/link.svg"
              alt="link"
              title="Copy the link"
            />
          </button>
          <button (click)="downloadExcel('Download')" class="ml-1">
            <img
              src="./../../../../../assets/svg/extension/xlsx.svg"
              alt="link"
              title="Download"
            />
          </button>
        </span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 mb-3 bt-filter">
            <div class="row net-deferred">
              <div class="col col-sm-12 flex-center">
                <!--Search bar-->
                <div class="col-md-5 syn-fundmgmt-searchbar">
                  <fora-search-bar
                    [searchForm]="searchForm"
                    [isAdvanceSearch]="false"
                    [advancedSearchForm]="advancedSearchForm"
                    (advancedSearch)="advancedSearch($event)"
                  ></fora-search-bar>
                </div>
                <!-- Balance Filter -->
                <span class="word-no-wrap pr-2">Balance Filter</span>
                <div class="mat-select-container">
                  <mat-select
                    class="select-control"
                    [(ngModel)]="selectedBalanceFilter"
                    (ngModelChange)="
                      createFilterData($event, 'selectedBalanceFilter')
                    "
                  >
                    <!--<mat-option [value]="''">All</mat-option>-->
                    <mat-option
                      *ngFor="let listBS of balanceFilterList"
                      [value]="listBS.id"
                      >{{ listBS?.name }}
                    </mat-option>
                  </mat-select>
                </div>
                <!-- Balance Sheet -->
                <span class="word-no-wrap pl-2 pr-2">Balance Sheet</span>
                <div class="mat-select-container">
                  <mat-select
                    class="select-control"
                    [(ngModel)]="selectedBalanceSheet"
                    (ngModelChange)="
                      createFilterData($event, 'selectedBalanceSheet')
                    "
                  >
                    <mat-option
                      *ngFor="let listBS of balanceSheetList"
                      [value]="listBS.id"
                      >{{ listBS?.name }}
                    </mat-option>
                  </mat-select>
                </div>
                <!-- Report By -->
                <span class="word-no-wrap pl-2 pr-2">Report By</span>
                <div class="date-filter mat-select-container">
                  <mat-select
                    class="select-control"
                    [(ngModel)]="selectedReportedBy"
                    (ngModelChange)="
                      createFilterData($event, 'selectedReportedBy')
                    "
                  >
                    <mat-option
                      *ngFor="let listofReport of reportedByDetails"
                      [value]="listofReport?.id"
                    >
                      {{ listofReport?.name }}</mat-option
                    >
                  </mat-select>
                </div>
                <button
                  color="default"
                  class="custom-referring-btn default-bg filter-btn ml-3"
                  (click)="opensdFilter()"
                >
                  <mat-icon class="color-grey">filter_list</mat-icon>
                  <span
                    class="position-absolute top-0 start-100 translate-middle isAvilableFilter"
                    *ngIf="isFilterDataAvilable"
                  >
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col col-sm-12 d-flex align-items-center date-row mb-3">
          <!-- date filter -->
          <ng-container *ngIf="!isCustomDateRage; else showCustomRage">
            <span class="pl-2">
              <button
                class="btn btn-sm nex-prev"
                mat-raised-button
                color="primary"
                (click)="dateFilter('-')"
              >
                <img src="../../../../../../assets/svg/prev.svg" alt="prev" />
              </button>
            </span>
            <span class="sd-date p-1">{{ dateRage }}</span>
            <span class="pl-2 pr-2">
              <button
                class="btn btn-sm nex-prev"
                mat-raised-button
                color="primary"
                (click)="dateFilter('+')"
              >
                <img src="../../../../../../assets/svg/next.svg" alt="prev" />
              </button>
            </span>
            <span class="date-filter pl-2 pr-2 mat-select-container">
              <mat-select
                class="select-control"
                [(ngModel)]="selectedMonthFilter"
                (ngModelChange)="
                  createFilterData($event, 'selectedMonthFilter')
                "
                (selectionChange)="dateChangeEvent(selectedMonthFilter)"
              >
                <mat-option
                  [value]="listDateList?.id"
                  *ngFor="let listDateList of dateFilterList"
                >
                  {{ listDateList?.name }}
                </mat-option>
              </mat-select>
            </span>
          </ng-container>
          <!-- From Date -->
          <ng-template #fromContent let-modal>
            <div class="modal-body d-flex">
              <div class="open-datepicker">
                <ngb-datepicker
                  [maxDate]="maxDateRage"
                  #d
                  (dateSelect)="onDateSelect()"
                  [(ngModel)]="ngbDate.dateRageFromDate"
                  [startDate]="ngbDate.dateRageFromDate"
                >
                </ngb-datepicker>
              </div>
            </div>
            <div class="modal-footer">
              <button
                class="btn btn-secondary mr-3"
                type="submit"
                (click)="modal.close('Close click')"
              >
                Cancel
              </button>
              <button
                class="btn btn-primary"
                type="submit"
                (click)="modal.close('Close click'); onDateClick('from')"
              >
                Ok
              </button>
            </div>
          </ng-template>
          <!-- To Date -->
          <ng-template #toContent let-modal>
            <div class="modal-body d-flex">
              <div class="open-datepicker">
                <ngb-datepicker
                  [maxDate]="maxDateRage"
                  #d
                  (dateSelect)="onDateSelect()"
                  [(ngModel)]="ngbDate.dateRageToDate"
                  [startDate]="ngbDate.dateRageToDate"
                >
                </ngb-datepicker>
              </div>
            </div>
            <div class="modal-footer">
              <button
                class="btn btn-secondary mr-3"
                type="submit"
                (click)="modal.close('Close click')"
              >
                Cancel
              </button>
              <button
                class="btn btn-primary"
                type="submit"
                (click)="modal.close('Close click'); onDateClick('to')"
              >
                Ok
              </button>
            </div>
          </ng-template>
        </div>

        <ng-template #showCustomRage>
          <span class="flex-center center">
            <div class="form-group pl-1">
              <input
                class="form-control"
                mask="00/00/0000"
                type="text"
                (click)="openModal(fromContent)"
                [(ngModel)]="fromDate"
                (input)="
                  isFormDataValidationEvent(fromDate); openModal(fromContent)
                "
                required=""
                readonly
              />
              <span class="floating-label">From</span>
            </div>
            <div class="form-group pl-1">
              <input
                class="form-control"
                mask="00/00/0000"
                type="text"
                (click)="openModal(toContent)"
                [(ngModel)]="toDate"
                required=""
                readonly
              />
              <span class="floating-label">To</span>
            </div>
            <button
              class="done-btn ml-1"
              (click)="dateOkAndCancelEvent('done')"
              [disabled]="isFromDate"
            >
              <img
                src="./../../../../../../../assets/svg/tick-green-100.svg"
                alt="tick"
              />
            </button>
            <button
              class="close-btn ml-1"
              (click)="dateOkAndCancelEvent('close')"
            >
              <img
                src="./../../../../../../../assets/svg/close-red.svg"
                alt="close"
              />
            </button>
          </span>
        </ng-template>

        <div class="col-md-12 check-small-deviceMarginTop overflow-auto">
          <fora-new-data-table
            [dataTableConfig]="newDataTableConfig"
            (actionCallBack)="actionCallBack($event)"
          >
          </fora-new-data-table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<fora-batched-transactions-filter
  *ngIf="btFilter"
  (closeFilter)="BtcloseFilter($event)"
  (applyBtFilter)="applyBtFilter($event)"
  (resetBtFilter)="resetBtFilter($event)"
>
</fora-batched-transactions-filter>-->
